<div class="container">
<div class="jumbotron">
  <!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple lighten-1" [containerInside]="false">
  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Angular Stripe Payment Gateway</a></mdb-navbar-brand>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" routerLink="defaultPay" mdbWavesEffect routerLinkActive="active">Default<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="customPay" mdbWavesEffect routerLinkActive="active">Custom</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="serverPay" mdbWavesEffect routerLinkActive="active">Server</a>
      </li>
    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">S <mdb-icon fas icon="envelope"></mdb-icon></a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
</div>
  <router-outlet></router-outlet>
</div>